# --- Base de datos ---
# Desarrollo (SQLite, file local)
DATABASE_URL="file:./dev.db"

# Producción (PostgreSQL)
# DATABASE_URL="postgresql://mallatex:mallatex@localhost:5432/mallatex?schema=public"

# --- Autenticación NextAuth ---
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cambia-esto-por-un-string-aleatorio-de-32-bytes"

# --- App ---
NEXT_PUBLIC_APP_NAME="Mallatex Production Suite"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
